<%- include('lout/head') %>
<%- include('lout/nav') %>
<div class="container">
    <% var a=1 %>
    <br>
    <br>
    <h3><%= data['t'] %></h3>
    <h5><%= data['b'] %></h5>
    <hr>
    <h5><pre class="bb"><p><%= data['m'] %></p></pre></h5>
    <a href="<%= data['u'] %>">site link</a>
</div>
<%- include('lout/jss') %>
<!---->